Priya/Priya_FlaskProject/pipeline/01_IDLFlask_Priya.json
{
	"name": "01_IDLFlask_Priya",
	"properties": {
		"activities": [
			{
				"name": "GetDateFromWMTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select LastUpdated As WMDate from dbo.Priya_Watermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Priya_WMTableGetDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalDataTotable",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetDateFromWMTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.Priya_SourceFlaskData \nWHERE UpdatedDate > '@{activity('GetDateFromWMTable').output.firstRow.WMDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Priya_SourceFlaskData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Priya_DestFlaskData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateMaxDateToWM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalDataTotable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Priya_UpdateDateInWM]"
				},
				"linkedServiceName": {
					"referenceName": "Ls_AzureSql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}