Capstone/capstone_onkar/adf-root/pipeline/PL_onkar_Captone.json
{
	"name": "PL_onkar_Captone",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SensorData_Onkar_CT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sql_capstone_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "data_copy_changed_version",
				"description": "The Copy Data Activity will use the CHANGES function to select only the rows that have changed since the last tracked version.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\tSELECT \n\t\tSensorData_Onkar.ID\t,\n\t\tSensorData_Onkar.Temperature,\n\t\tSensorData_Onkar.Humidity,\n\t\tSensorData_Onkar.Pressure,\n\t\tSensorData_Onkar.Light_intensity,\n\t\tSensorData_Onkar.Device_status,\n\t\tSensorData_Onkar.UpdatedDate,\n\t    CT.SYS_CHANGE_VERSION, \n\t    SYS_CHANGE_OPERATION \n\tfrom SensorData_Onkar \n\t    RIGHT OUTER JOIN \n\t    CHANGETABLE(\n\t        CHANGES SensorData_Onkar, \n\t        @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}\n\t        ) AS CT \n\t    ON \n\t    SensorData_Onkar.ID = CT.ID \n\t    where \n        CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_sql_capstone_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_capstone_output_scd2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_to_update_version",
				"description": "call the Update_ChangeTracking_Version stored procedure and update the Change Tracking version.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "data_copy_changed_version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_SensorData_onkar]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Int64"
						},
						"TableName": {
							"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZ_sql_capstone",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}