CT/ct_bharath/pipeline/PL_IDL_CTV_Transactions.json
{
	"name": "PL_IDL_CTV_Transactions",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChange",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CTV_Transactions_Bharath",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChange",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Src_DST_Transactions",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyFulldata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChange",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChange",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n\ttransactions_bharath_dst.TransactionID,\n\ttransactions_bharath_dst.CustomerID,\n\ttransactions_bharath_dst.TransactionDate,\n\ttransactions_bharath_dst.Amount, \n\tCT.SYS_CHANGE_VERSION, \n\tSYS_CHANGE_OPERATION \nfrom transactions_bharath_dst \n\tRIGHT OUTER JOIN \n\tCHANGETABLE(\n\t\tCHANGES transactions_bharath_dst, \n\t\t@{activity('LookupLastChange').output.firstRow.SYS_CHANGE_VERSION}\n\t\t) AS CT \n\tON \n\ttransactions_bharath_dst.TransactionID = CT.TransactionID \n\twhere \nCT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChange').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Src_DST_Transactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sink_Gen2_Transactions",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyFulldata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_CTV_transactions]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('LookupCurrentChange').output.firstRow.CurrentChangeTrackingVersion}\n ",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupLastChange').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_CT",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}