Arnab/Arnab-capstone/pipeline/PL_Arnab_idl.json
{
	"name": "PL_Arnab_idl",
	"properties": {
		"activities": [
			{
				"name": "CP_idl_from_lookup",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetDateFromWMTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.Watermark_arnab\nWHERE LastUpdated > '@{activity('GetDateFromWMTable').output.firstRow.WMDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DsDeriveSqlArnab",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DsDeriveSqlArnab",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetDateFromWMTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select LastUpdated As WMDate from dbo.Watermark_arnab",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsDeriveSqlArnab",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Sp_from_cp_to_sp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_idl_from_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_arnab_updateDatetime_watermark]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ip_arnab_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}