Arnab/Arnab-capstone/adf-main/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-main"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"Gen2_Source_Dataset_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Gen2_Source_Dataset'"
		},
		"LS_AZURESQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZURESQL'"
		},
		"LS_AZ_sql_capstone_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZ_sql_capstone'"
		},
		"LS_DD_jyothi_gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_DD_jyothi_gen2'"
		},
		"LS_DD_jyothi_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_DD_jyothi_sql'"
		},
		"LS_GEN2_Aditya_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_GEN2_Aditya'"
		},
		"LS_Gen2_Bharath_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Gen2_Bharath'"
		},
		"LS_SQL_Aditya_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_Aditya'"
		},
		"LS_SQL_Bharath_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_Bharath'"
		},
		"LS_SQL_DB4EVERYONE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DB4EVERYONE'"
		},
		"LS_SQL_yashi_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_yashi'"
		},
		"LS_Sujay_ADB_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Sujay_ADB'"
		},
		"LS_Sujay_Blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Sujay_Blob'"
		},
		"LS_Sujay_Gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Sujay_Gen2'"
		},
		"LS_Sujay_SQL_DB4EVERYONE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Sujay_SQL_DB4EVERYONE'"
		},
		"LS_gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_gen2'"
		},
		"LS_gen2_capstone_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_gen2_capstone'"
		},
		"LS_ip_arnab_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ip_arnab_sql'"
		},
		"LS_op_arnab_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_op_arnab_sql'"
		},
		"LS_sensor_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sensor_sql'"
		},
		"Ls_Gen2_Priya_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_Gen2_Priya'"
		},
		"Ls_Gen2_yashi_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_Gen2_yashi'"
		},
		"Ls_arnab_blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ls_arnab_blob'"
		},
		"Ls_capstone_anu_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Ls_capstone_anu'"
		},
		"Ls_capstone_anu_gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_capstone_anu_gen2'"
		},
		"Ls_gen2_arnab_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_gen2_arnab'"
		},
		"co2_sql_source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'co2_sql_source'"
		},
		"gen2_onkar_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'gen2_onkar'"
		},
		"ls_gen2_venu_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_gen2_venu'"
		},
		"ls_sql_venu_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_venu'"
		},
		"sujay_blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sujay_blob'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"Gen2_Source_Dataset_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_AZURESQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_AZURESQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_AZURESQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_AZ_sql_capstone_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_AZ_sql_capstone_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_AZ_sql_capstone_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_DD_jyothi_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_DD_jyothi_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_DD_jyothi_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_DD_jyothi_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_GEN2_Aditya_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_Gen2_Bharath_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_SQL_Aditya_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_SQL_Aditya_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_SQL_Aditya_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQL_Bharath_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_SQL_Bharath_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_SQL_Bharath_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQL_DB4EVERYONE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_SQL_DB4EVERYONE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_SQL_DB4EVERYONE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQL_yashi_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_SQL_yashi_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_SQL_yashi_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_Sujay_ADB_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1224-055711-uomp4njs"
		},
		"LS_Sujay_Gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_gen2_capstone_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"LS_ip_arnab_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_ip_arnab_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_ip_arnab_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_op_arnab_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_op_arnab_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_op_arnab_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_sensor_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"LS_sensor_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"LS_sensor_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"Ls_Gen2_Priya_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"Ls_Gen2_yashi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"Ls_capstone_anu_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"Ls_capstone_anu_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"Ls_capstone_anu_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"Ls_capstone_anu_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"Ls_gen2_arnab_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.thecatapi.com/"
		},
		"co2_sql_source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"co2_sql_source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"co2_sql_source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"gen2_onkar_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"ls_gen2_venu_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccount2gen.dfs.core.windows.net/"
		},
		"ls_sql_venu_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server4everyone.database.windows.net"
		},
		"ls_sql_venu_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db4everyone"
		},
		"ls_sql_venu_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Capstone')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Watermarkdataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupNewWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select MAX(lastupdatedate) as NewWatermarkvalue from rudrani_flask",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupNewWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_GEN2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "StoredProceduretoWriteWatermarkActivity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_write_wm_rudrani]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"TableName": {
									"value": {
										"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AZURESQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-24T07:42:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Watermarkdataset')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_GEN2')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AZURESQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Mujahed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://api.thecatapi.com/v1/images/search?limit=10&breed_ids=beng&api_key=REPLACE_ME"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sujay_Copy_Gen2_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from Gen2 to Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Gen2_Source_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sink_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-23T05:54:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Gen2_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Blob_Sink_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_capstone')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "filter",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "filterdf",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"flask": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-24T07:42:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/filterdf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_Sink_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sujay_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "gen2_blob_output.csv",
						"container": "sujay-blob"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sujay_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZURESQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temperature",
						"type": "int",
						"precision": 10
					},
					{
						"name": "humidity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pressure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "light_intensity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "device_status",
						"type": "varchar"
					},
					{
						"name": "lastupdatedate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "rudrani_flask"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZURESQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GEN2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dbo.rudrani_flask.csv",
						"fileSystem": "rudrani-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Gen2_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Gen2_Source_Dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "iris.csv",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sepal.length",
						"type": "String"
					},
					{
						"name": "sepal.width",
						"type": "String"
					},
					{
						"name": "petal.length",
						"type": "String"
					},
					{
						"name": "petal.width",
						"type": "String"
					},
					{
						"name": "variety",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Gen2_Source_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "aaa.json",
						"fileSystem": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "/v1/images/search?limit=10&breed_ids=beng&api_key=REPLACE_ME"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Watermarkdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZURESQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tablename",
						"type": "varchar"
					},
					{
						"name": "lastupdatedate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "rudrani_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZURESQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "sujay-self-hosted-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sujay-self-hosted-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Gen2_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Gen2_Source_Dataset_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Gen2_Source_Dataset_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "sujay-self-hosted-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sujay-self-hosted-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZURESQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZURESQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZURESQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZURESQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZURESQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZ_sql_capstone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZ_sql_capstone_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZ_sql_capstone_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZ_sql_capstone_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZ_sql_capstone_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DD_jyothi_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DD_jyothi_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_DD_jyothi_gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DD_jyothi_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_DD_jyothi_sql_properties_typeProperties_server')]",
					"database": "[parameters('LS_DD_jyothi_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_DD_jyothi_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_DD_jyothi_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GEN2_Aditya')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_GEN2_Aditya_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_GEN2_Aditya_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Gen2_Bharath')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Gen2_Bharath_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Gen2_Bharath_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_Aditya')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_Aditya_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_Aditya_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_Aditya_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_Aditya_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_Bharath')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_Bharath_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_Bharath_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_Bharath_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_Bharath_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DB4EVERYONE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DB4EVERYONE_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DB4EVERYONE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DB4EVERYONE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DB4EVERYONE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_yashi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_yashi_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_yashi_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_yashi_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_yashi_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_ADB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2369315146208867.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Sujay_ADB_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Sujay_ADB_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "IR-Sujay-Personal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Sujay-Personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_Blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Sujay_Blob_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-Sujay-Personal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Sujay-Personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_Gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Sujay_Gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Sujay_Gen2_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-Sujay-Personal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Sujay-Personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_SQL_DB4EVERYONE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_server')]",
					"database": "[parameters('LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Sujay_SQL_DB4EVERYONE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Sujay_SQL_DB4EVERYONE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-Sujay-Personal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Sujay-Personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_gen2_capstone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_gen2_capstone_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_gen2_capstone_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ip_arnab_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_ip_arnab_sql_properties_typeProperties_server')]",
					"database": "[parameters('LS_ip_arnab_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ip_arnab_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ip_arnab_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_op_arnab_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_op_arnab_sql_properties_typeProperties_server')]",
					"database": "[parameters('LS_op_arnab_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_op_arnab_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_op_arnab_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sensor_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_sensor_sql_properties_typeProperties_server')]",
					"database": "[parameters('LS_sensor_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sensor_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sensor_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Gen2_Priya')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_Gen2_Priya_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_Gen2_Priya_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Gen2_yashi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_Gen2_yashi_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_Gen2_yashi_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_arnab_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Ls_arnab_blob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_capstone_anu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Ls_capstone_anu_properties_typeProperties_server')]",
					"database": "[parameters('Ls_capstone_anu_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Ls_capstone_anu_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Ls_capstone_anu_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_capstone_anu_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_capstone_anu_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_capstone_anu_gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_gen2_arnab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_gen2_arnab_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_gen2_arnab_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/co2_sql_source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('co2_sql_source_properties_typeProperties_server')]",
					"database": "[parameters('co2_sql_source_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('co2_sql_source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('co2_sql_source_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gen2_onkar')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('gen2_onkar_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('gen2_onkar_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "sujay-self-hosted-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sujay-self-hosted-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gen2_venu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_gen2_venu_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_gen2_venu_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_venu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_venu_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_venu_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_venu_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_venu_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sujay_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sujay_blob_connectionString')]"
				},
				"connectVia": {
					"referenceName": "sujay-self-hosted-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sujay-self-hosted-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-selfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-Sujay-Personal')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-aselfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-rselfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-selfhosted-smh-lapi')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sujay-self-hosted-ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/filterdf')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASDB",
								"type": "DatasetReference"
							},
							"name": "flask"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_GEN2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          temperature as integer,",
						"          humidity as integer,",
						"          pressure as integer,",
						"          light_intensity as integer,",
						"          device_status as string,",
						"          lastupdatedate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> flask",
						"flask filter(temperature== 640) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['flask.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_GEN2')]"
			]
		}
	]
}