Capstone/Capstone-yashi/pipeline/PL_trans_IDL_WM_yashi.json
{
	"name": "PL_trans_IDL_WM_yashi",
	"properties": {
		"activities": [
			{
				"name": "DF_transformation",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_transformation",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SourcedataCOtable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DF_transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(Last_Updated) as NewWatermarkvalue from dst_CO2_Emissions_yashi",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DST_yashi",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WaterMarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_WM_yashi",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopydataSQLtoGen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourcedataCOtable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WaterMarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dst_CO2_Emissions_yashi\nwhere \n\tLast_Updated <= '@{activity('SourcedataCOtable').output.firstRow.NewWatermarkvalue}' \n\tand \nLast_Updated > '@{activity('WaterMarkTable').output.firstRow.LastUpdated}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DST_yashi",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink_Gen2_yashi",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure yashi",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopydataSQLtoGen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_yashi]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('SourcedataCOtable').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": "@activity('WaterMarkTable').output.firstRow.TableName",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_yashi",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}