Capstone/capstone_kiran/pipeline/01_Pipeline_IDL.json
{
	"name": "01_Pipeline_IDL",
	"properties": {
		"activities": [
			{
				"name": "Lookupoldwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_watermark_sensor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookupnewwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(Last_Updated) as NewWatermarkvalue\r\nfrom SensorData_kiran",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sensor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy activity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookupoldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookupnewwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM SensorData_kiran\nWHERE\nLast_Updated > '@{activity('Lookupoldwatermark').output.firstRow.LastUpdated}'\nAND\nLast_Updated <= '@{activity('Lookupnewwatermark').output.firstRow.NewWatermarkvalue}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sensor",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "gen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_kiran_updatee]",
					"storedProcedureParameters": {
						"Last_Updated": {
							"value": {
								"value": "@activity('Lookupnewwatermark').output.firstRow.NewWatermarkvalue\n ",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('Lookupoldwatermark').output.firstRow.TableName\n ",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_sensor_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}