Capstone/Capstone-Aditya/pipeline/PL_transformations_IDL_WM_Aditya.json
{
	"name": "PL_transformations_IDL_WM_Aditya",
	"properties": {
		"activities": [
			{
				"name": "DF_Transformations",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Transformations",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SourceDataCOTable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DF_Transformations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(Last_Updated) as NewWatermarkvalue from dst_CO2_Emissions_Aditya",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DST_Aditya",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "WaterMarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermark_Aditya",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyDataSQLtoGEN2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceDataCOTable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WaterMarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dst_CO2_Emissions_Aditya\nwhere \n  Last_Updated <= '@{activity('SourceDataCOTable').output.value[0].NewWatermarkvalue}' \n  and \nLast_Updated > '@{activity('WaterMarkTable').output.firstRow.LastUpdated}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DST_Aditya",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sink_GEN2_Aditya",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataSQLtoGEN2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_Aditya]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": "@activity('SourceDataCOTable').output.value[0].NewWatermarkvalue",
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@activity('WaterMarkTable').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Aditya",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}