Capstone/Capstone_anu/pipeline/pl_capstone_chanagetracking.json
{
	"name": "pl_capstone_chanagetracking",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_CO2_capstone_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_CT_capstone_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copydataactivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n        CO2_Emissions_anu.ID,\n        CO2_Emissions_anu.Make,\n        CO2_Emissions_anu.Model,\n        CO2_Emissions_anu.Vehicle_Class,\n        CO2_Emissions_anu.Engine_Size_L,\n        CO2_Emissions_anu.Cylinders,\n        CO2_Emissions_anu.Transmission,\n\t\tCO2_Emissions_anu.Fuel_Type,\n\t\tCO2_Emissions_anu.Fuel_Consumption_City_L_100km,\n\t\tCO2_Emissions_anu.Fuel_Consumption_Hwy_L_100km,\n\t\tCO2_Emissions_anu.Fuel_Consumption_Comb_L_100km,\n\t\tCO2_Emissions_anu.Fuel_Consumption_Comb_mpg,\n\t\tCO2_Emissions_anu.CO2_Emissions_g_km,\n\t\tCO2_Emissions_anu.Last_Updated,\n        CT.SYS_CHANGE_VERSION, \n        SYS_CHANGE_OPERATION \n    from CO2_Emissions_anu \n        RIGHT OUTER JOIN \n         CHANGE TABLE(\n            CHANGES CO2_Emissions_anu, \n            @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}\n            ) AS CT \n        ON \n       CO2_Emissions_anu.ID = CT.ID \n        where \n        CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_CO2_capstone_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_jason",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Storeprocedureactivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copydataactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_CO2_anu]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_capstone_anu",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}